<span class="titip-{{ position }} titip-default titip-fade {{ buttonclass }}">
    {{#if showicon }}
        <i class="fa fa-user"></i>
    {{/if}}{{ username }}
    <div style="opacity:1;" class="titip-content">
        <div style="width:250px; white-space:normal; text-align:left; cursor:auto;" class="clearfix">
            {{#if picture }}
                <span style="width: 62px; margin-right: 10px; margin-bottom: 5px; height: 62px;" class="thumbnail left">
                        <img src="{{ picture }}" style="margin-top: 5px;">
                    </span>
            {{ else }}
                <span style="width: 62px; margin-right: 10px; margin-bottom: 5px; height: 62px;" class="thumbnail left">
                        <i class="fa fa-user-secret fa-4x"> </i>
                </span>
            {{/if}}
            <h4>{{ first_name }} {{last_name }}</h4>
            Tagline to describe user<br>
            Trails uploaded: {{ profile.num_uploaded_trails }}<br>
            Trails rated: {{ profile.num_rated_trails }}<br>
            <a href="#profile/{{ username }}" class="button">View profile</a>
        </div>
    </div>
</span>

