        <table>
            <thead>
            <tr>
                <th>Category</th>
                <th>Value</th>
                <th>Score</th>
            </tr>
            </thead>

            <tbody>

            <tr>
                <td>Total length (m)</td>
                <td id="total_length">
                    {{#if editable }}
                    {{!-- show form fields when the score should be editable --}}
                        <input type="number" value="{{ ../score.total_length.value }}"/>
                    {{ else }}
                    {{!-- no form fields otherwise --}}
                        {{ ../score.total_length.value }}
                    {{/if}}
                </td>
                <td style="text-align:right;">
                    <span class="titip-left titip-wrapped-large">{{ score.total_length.result }} <span class="titip-content">{{ score.total_length.explanation }}</span></span>
                </td>
            </tr>

            <tr>
                <td>Average slope (%)</td>
                <td id="avg_slope">
                    {{#if editable }}
                    {{!-- show form fields when the score should be editable --}}
                        <input type="number" value="{{ ../score.avg_slope.value }}"/>
                    {{ else }}
                    {{!-- no form fields otherwise --}}
                        {{ ../score.avg_slope.value }}
                    {{/if}}
                </td>
                <td style="text-align:right;">
                    <span class="titip-left titip-wrapped-large">{{ score.avg_slope.result }} <span class="titip-content">{{ score.avg_slope.explanation }}</span></span>
                </td>
            </tr>

            <tr>
                <td>Maximum Difficulty (M Scale)</td>
                <td id="max_difficulty">
                    {{#if editable }}
                    {{!-- show form fields when the score should be editable --}}
                        <select>
                            {{#range 0 5 0.5 }}
                                <option value="{{ this }}" {{#equals (parsenumber ../score.max_difficulty.value) this}}selected{{/equals}}>M{{ this }}</option>
                            {{/range}}
                        </select>
                    {{ else }}
                    {{!-- no form fields otherwise --}}
                        {{ ../score.max_difficulty.value }}
                    {{/if}}
                </td>
                <td style="text-align:right;">
                    <span class="titip-left titip-wrapped-large">{{ score.max_difficulty.result }} <span class="titip-content">{{ score.max_difficulty.explanation }}</span></span>
                </td>
            </tr>

            <tr>
                <td>Average Difficulty (M Scale)</td>
                <td id="avg_difficulty">
                    {{#if editable }}
                    {{!-- show form fields when the score should be editable --}}
                        <select>
                            {{#range 0 5 0.5 }}
                                <option value="{{ this }}" {{#equals (parsenumber ../score.avg_difficulty.value) this}}selected{{/equals}}>M{{ this }}</option>
                            {{/range}}
                        </select>
                    {{ else }}
                    {{!-- no form fields otherwise --}}
                        {{ ../score.avg_difficulty.value }}
                    {{/if}}
                </td>
                <td style="text-align:right;">
                    <span class="titip-left titip-wrapped-large">{{ score.avg_difficulty.result }} <span class="titip-content">{{ score.avg_difficulty.explanation }}</span></span>
                </td>
            </tr>

            <tr>
                <td colspan=2>Total score</td>
                <td style="text-align:right; font-weight: 600;">{{ score.total_score }}</td>
            </tr>

            </tbody>
        </table>