<div class="container-full">
<h1 class="icon_{{ type }}">{{ name }}</h1>
<p>Created on: {{date created }}, by {{ owner }}</p>
</div>

<div class="row">
    <div class="col-12 col-tablet-6 col-hd-5">
        <h2>Trail Data</h2>
        <p>Data which has been extracted from the GPS track. The rating data may differ.</p>
        <table class="table-striped nb">
            <tr>
                <td>Type</td>
                <td>{{ type }}</td>
            </tr>
            <tr>
                <td>Altitude Difference from start to finish</td>
                <td>{{round  altitude_difference }} m</td>
            </tr>
            <tr>
                <td>Average Slope</td>
                <td>{{round avg_slope }} %</td>
            </tr>
            <tr>
                <td>Max slope downhill</td>
                <td>{{round max_slope_dh }} %</td>
            </tr>
            <tr>
                <td>Max slope uphill</td>
                <td>{{round max_slope_uh }} %</td>
            </tr>
            <tr>
                <td>Length</td>
                <td>{{round length.m}} m</td>
            </tr>
            <tr>
                <td>Total Ascent</td>
                <td>{{round total_ascent }} m</td>
            </tr>
            <tr>
                <td>Total Descent</td>
                <td>{{round total_descent }} m</td>
            </tr>
        </table>
    </div>

    <div class="col-12 col-tablet-6 col-hd-7">
        <h2>Description</h2>
        <p>
            {{ escape description }}
        </p>
    </div>
</div>



<div data-region="scoring"></div>


<div class="container-full">
    <h2>Height Profile</h2>
    <p>chart</p>
</div>

<div class="container-full">
    <h2>Map</h2>
    <div data-region="map"></div>
</div>

