<a href="{{ clientUri }}" class="nolink">
    <div class="trail row nolink">
        <div class="container"><h3>{{ name }}</h3></div>
        <div class="trail-main col-9">
            <p>{{ description }}</p>
        </div>
        <div class="trail-symbols col-3">
            <span class="right text-right">
                <span class="label">{{round length.km 2 }} km</span><br>
                <span class="label {{ typeShort }}">{{ typeShort }}</span>
                <span class="label">{{ totalScore }} / 40</span></span>
        </div>
    </div>
</a>
<hr>